html 

    head
        title #{title}
    
    body
    
    
        form(action="/project/new/" method="POST") 
        
            label Name 
            input(name="name" type="text") 
            
            label Abbreviation
            input(name="abbr" type="text")  

            
            input(type="submit" value="Submit") 
 
