extend ../_layouts/standard

block content

    include ../project/_partials/kanban
    
    include ../mission/_partials/backlog
    
    .cover: .container: .row: h2.title.divider Epics
    
    .cover: .container: .row: h2.title.divider Logs
